<!DOCTYPE html>
<html lang="en">

<head>
  <title>Happy Kubernetes Restaurant</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../js/cssController.js"></script>
  <script src="../js/ajax.js"></script>
</head>

<body>

  <main class="orders">
    <div class="orders__main">주문 내역</div>
    <div class="orders__wrapper">
    <div class="orders__header">
      <span class="orders__header-number item">번호</span>
      <span class="orders__header-order item">주문</span>
      <span class="orders__header-createdAt item">날짜</span>
    </div>
    <ul class="orders__list">
      <% for(let order of orders) { %>
      <li class="orders__order order"  onClick="doCheck()">
        <div class="orders__column">
          <div class="order__number item"><%= order.id %>
          </div>
          <div class="order__content item">
            <%= order.content %>
          </div>
          <div class="order__createdAt item">
            <%= order.createdAt.toLocaleTimeString() %>
          </div>
          <div class="order__buttons item">
            <form id="form-delete" action="/delete/<%=order.id%>" method="post">
              <button class="order__delete" onClick="">Delete</button>
            </form>
          </div>
        </div>
      </li>
     
      <% } %>
    </div>
    </ul>

  </div>

  </main>

</body>



</html>